@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kodchasan-bold";
    src: url("./fonts/Kodchasan/Kodchasan-Bold.ttf");
}

@font-face {
    font-family: "Kodchasan-regular";
    src: url("./fonts/Kodchasan/Kodchasan-Regular.ttf");
}

@font-face {
    font-family: "Saira-bold";
    src: url("./fonts/Saira/Saira-Bold.ttf");
}

@font-face {
    font-family: "Saira-medium";
    src: url("./fonts/Saira/Saira-Medium.ttf");
}



@layer utilities {
    .scrollbar-kanban::-webkit-scrollbar {
        height: 12px;
        width: 5px;
    }

    .scrollbar-kanban::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 6px;
    }

    .scrollbar-kanban::-webkit-scrollbar-track {
        background: #ffff;
        border-radius: 5px;
    }

    .scrollbar-column::-webkit-scrollbar {
        height: 12px;
        width: 10px;
    }

    .scrollbar-column::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #c4cad0 ;
    }

   
}

html{
    @apply font-saira-medium
}