@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kodchasan-bold";
    src: url("./fonts/Kodchasan/Kodchasan-Bold.ttf");
}

@font-face {
    font-family: "Kodchasan-regular";
    src: url("./fonts/Kodchasan/Kodchasan-Regular.ttf");
}